<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="../../assets/ico/favicon.ico">
	   <link rel="stylesheet" href="http://js.arcgis.com/3.8/js/dojo/dojo/resources/dojo.css">
    	<link rel="stylesheet" href="http://js.arcgis.com/3.8/js/dojo/dijit/themes/nihilo/nihilo.css">
    	<link rel="stylesheet" href="http://js.arcgis.com/3.8/js/dgrid/css/dgrid.css">
    	<link rel="stylesheet" href="http://js.arcgis.com/3.8/js/dgrid/css/skins/nihilo.css">
    	<link rel="stylesheet" href="http://js.arcgis.com/3.8/js/esri/css/esri.css">
    	<link rel="stylesheet" href="https://www.denvergov.org/Portals/_default/Skins/DenverGov/skin.css">
	<title>The Sharing Economy: Transportation</title>

<!-- Favicon -->
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">

<!-- Lato Font -->    
    <link href="http://fonts.googleapis.com/css?family=Lato:400,100italic,100,300italic,300,400italic,700italic,700,900italic,900" rel="stylesheet" type="text/css">

<!-- Bootstrap core CSS -->
	<link href="public/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
	<link href="public/css/site.css" rel="stylesheet">
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<!-- Underscore JS templates -->
	<script id="bcycle_view" type="text/template"></>
		<div class="address">
			<span class="street"><%= street %></span>
			<span class="city"><%= city %></span>,
			<span class="state"><%= state %></span>
			<span class="zip"><%= zip %></span>
		</div>
		<% if (docs){ %>
			<div class="block"><span><%= docs %></span> total bike docs</div>
		<% } %>
	</script>
	<script id="pnr_view" type="text/template"></>
		<div class="address">
			<span class="street"><%= street %></span>
			<span class="city"><%= city %></span>,
			<span class="state"><%= state %></span>
			<span class="zip"><%= zip %></span>
		</div>
		<div class="panel-group" id="accordionFlyout">
			<div class="panel panel-default">
				<div class="panel-heading">
					<a data-toggle="collapse" data-parent="#accordionFlyout" href="#collapseOne"> Location information </a> 
				</div>
				<div id="collapseOne" class="panel-collapse collapse">
					<div class="panel-body">
					<% if (shelters){ %>
						<div class="block"><%= shelters %> shelter<% if (shelters > 1){ %>s<% } %></div>
					<% } %>
					<% if (parking){ %>
						<div class="block"><%= parking %> parking space<% if (parking > 1){ %>s<% } %></div>
					<% } %>
					<% if (lockers){ %>
						<div class="block"><%= lockers %> locker<% if (lockers > 1){ %>s<% } %></div>
					<% } %>
					<% if (racks){ %>
						<div class="block"><%= racks %> bike rack<% if (racks > 1){ %>s<% } %></div>
					<% } %>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<a data-toggle="collapse" data-parent="#accordionFlyout" href="#collapseTwo"> Routes available </a> 
				</div>
				<div id="collapseTwo" class="panel-collapse collapse">
					<div class="panel-body">
					<% if (routes.local !== ' '){ %>
						<div class="block"><span>Local Bus Routes</span><%= routes.local %></div>
					<% } %>
					<% if (routes.express !== ' '){ %>
						<div class="block"><span>Express Bus Routes</span>*<%= routes.express %>*</div>
					<% } %>
					<% if (routes.limited !== ' '){ %>
						<div class="block"><span>Limited Bus Routes</span><%= routes.limited %></div>
					<% } %>
					<% if (routes.regional !== ' '){ %>
						<div class="block"><span>Regional Bus Routes</span><%= routes.regional %></div>
					<% } %>
					<% if (routes.skyride !== ' '){ %>
						<div class="block"><span>SkyRide Bus Routes</span><%= routes.skyride %></div>
					<% } %>
					<% if (routes.lightrail !== ' '){ %>
						<div class="block"><span>Light Rail Lines</span><%= routes.lightrail %></div>
					<% } %>
					</div>
				</div>
			</div>
		</div>
	</script>
	<script src="http://js.arcgis.com/3.9/"></script>

</head>
<body>
<div class="container">
   
    <!-- Static navbar -->
	<div class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="#">The Sharing Economy: Transportation</a> 
			</div>
			<div class="navbar-collapse collapse">
				<!--<ul class="nav navbar-nav">
					<li class="active"><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a> 
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li class="divider"></li>
						<li class="dropdown-header">Nav header</li>
						<li><a href="#">Separated link</a></li>
						<li><a href="#">One more separated link</a></li>
					</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="./">Default</a></li>
					<li><a href="../navbar-static-top/">Static top</a></li>
					<li><a href="../navbar-fixed-top/">Fixed top</a></li>
				</ul>-->
			</div>

<!--/.nav-collapse -->
		</div>
<!--/.container-fluid -->
	</div>
    
<!-- Main component for a primary marketing message or call to action -->
	<div id="mapDiv" class="jumbotron">
        <div class="row mapui">
        	<div class="col-md-3">
               
      		<ul class="nav nav-pills nav-stacked">
      			<li class="active"><a href="#Bicycling">Bicycling</a></li>
      			<li>
      				<a href="#carshare">Car Share</a></li>
      			<li>
      				<a href="#public">Public</a></li>
      			<li class="dropdown">
      				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown <span class="caret"></span></a>
    				<ul class="dropdown-menu">
    					<li>Item 1</li>
            			<li>Item 2</li>
    				</ul>
  	  			</li>
    		</ul>
            
            
            <div class="panel panel-default">
   <div class="panel-heading">
         <h4 class="panel-title"
             data-toggle="collapse" 
             data-target="#collapseOne">
             Bicycling
         </h4>
    </div>
    <div id="collapseOne" 
         class="panel-collapse collapse">
        <div class="panel-body">
        
    <div class="panel-heading">
         <h4 class="panel-title"
             data-toggle="collapse" 
             data-target="#collapseOneA">
             B-Cycle Station
         </h4>
    </div>
    <div id="collapseOneA" 
         class="panel-collapse collapse">
        <div class="panel-body"></div>
    </div>
       
    <div class="panel-heading">
         <h4 class="panel-title"
             data-toggle="collapse" 
             data-target="#collapseOneB">
             Trails
         </h4>
    </div>
    <div id="collapseOneB" 
         class="panel-collapse collapse">
        <div class="panel-body"></div>
    </div>
    
    <div class="panel-heading">
         <h4 class="panel-title"
             data-toggle="collapse" 
             data-target="#collapseOneC">
             Paths
         </h4>
    </div>
    <div id="collapseOneC" 
         class="panel-collapse collapse">
        <div class="panel-body"></div>
    </div>
        
        </div>
    </div>
    
    <div class="panel-heading">
         <h4 class="panel-title"
             data-toggle="collapse" 
             data-target="#collapseTwo">
             Car Share
         </h4>
    </div>
    <div id="collapseTwo" 
         class="panel-collapse collapse">
        <div class="panel-body"></div>
    </div>
    
    <div class="panel-heading">
         <h4 class="panel-title"
             data-toggle="collapse" 
             data-target="#collapseThree">
             Public
         </h4>
    </div>
    <div id="collapseThree" 
         class="panel-collapse collapse">
        <div class="panel-body"></div>
    </div>
</div>


            
            </div>
            
            <div class="col-md-9">
                <div id="map" class=""></div>
            </div>
        </div>
	</div>
    
</div>

<!-- /container -->
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>

<script type="text/javascript" src="public/js/Map.js"></script>
<script type="text/javascript">
			
			$(document).ready(function() {
				
				$(".nav li").on("click", function(e) {
      				$(".nav li").removeClass("active");
					$(e.target).parent().addClass("active");
					    			});
		
			});
    

			</script>
</body>
</html>
